@{
    ViewBag.Title = "AutoMate statistics";
    Layout = "../Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
<script type="text/javascript" src="~/Scripts/main.js"></script>

<h2>AutoMate statistics</h2>
<div id="county">
</div>

<br />
<div style="position: relative; width: 600px; height: 600px" id="myMap">
</div>
