@{
    ViewBag.Title = "AutoMate statistics";
    Layout = "../Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
<script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
<script type="text/javascript" src="~/Scripts/jQRangeSlider/lib/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Scripts/jQRangeSlider/jQAllRangeSliders-min.js"></script>
<script type="text/javascript" src="~/Scripts/main.js"></script>

<div id="slider" class="date-range"></div>

<div class="preloader">&nbsp;</div>
<div class="map"  id="myMap">
</div>
<div class="header">
    
</div>


