@{
    ViewBag.Title = "AutoMate statistics";
    Layout = "../Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
<script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
<script type="text/javascript" src="~/Scripts/jQRangeSlider/lib/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="~/Scripts/jQRangeSlider/jQAllRangeSliders-min.js"></script>
<script type="text/javascript" src="~/Scripts/main.js"></script>

<link rel="stylesheet" href="~/Content/MetroJs.css"/>
<script type="text/javascript" src="~/Scripts/MetroJs.js"></script>

<div id="slider" class="date-range"></div>

<div class="preloader">&nbsp;</div>
<div class="map"  id="myMap">
</div>
<div class="header">
    
</div>


<footer class="appbar">
    <nav>
        <ul id="menu" class="appbar-buttons">
            <li>
                <a href="#" class="home"><img src="~/Content/images/1pixel.gif" alt="Home" /></a>
                <span class="charm-title">Home</span>
            </li>
            <li>
                <a href="#" class="about"><img src="~/Content/images/1pixel.gif" alt="About" /></a>
                <span class="charm-title">About</span>
            </li>
            <li>
                <a href="#" target="_blank" class="twitter"><img src="~/Content/images/1pixel.gif" alt="Facebook" /></a>
                <span class="charm-title">Facebook</span>
            </li>
        </ul>
    </nav>
    <a class="etc">&bull;&bull;&bull;</a>
    <ul class="theme-options clear">
         
    </ul>
    <ul class="base-theme-options clear">     
    </ul>
</footer>

